.container-fluid.header.stick-me.sticking {
  padding-left: 0;
  padding-right: 0;
}

h1,
.h1 {
  font-size: 1.618rem !important;
}

select,
input {
  font-size: 1.15rem !important;
}

input[type=radio] {
  transform: scale(1) !important;
  margin-right: 1.618rem;
}

.form-control:focus {
  border-color: #ced4da;
  background-color: unset;
  box-shadow: none;
  color: unset;
  outline: 0;
}

.google_fonts.card {
  max-width: calc(100% / 3 - 10px);
  margin: 5px;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.cta.btn {
  background-color: hsl(180, 50%, 50%);
  box-shadow: 0 1px 2px 0 rgba(10, 10, 10, 0.3),
    0 2px 4px 1px rgba(10, 10, 10, .15);
  border: 1px solid #000;
  border-radius: 3rem;
  padding: 0.618rem 3rem;
}

.show {
  display: block;
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select.order-last {
  font-family: sans-serif !important;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  margin-bottom: 0.618rem;
  box-shadow: 1px 2px 3px 0px rgba(10, 10, 10, 0.25);
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.custom-container {
  max-width: 1600px;
}

.vault-google-fonts-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 15%) minmax(auto, 85%);
  grid-template-rows: auto;
  grid-column-gap: 0;
}

button[type=submit],
button[type=reset],
button[type=button],
a.btn.btn-skip {
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0 1rem;
  border-radius: 0.375rem;
  border: none !important;
  box-shadow: -2px 2px 3px 0 rgba(10, 10, 10, 1) !important;
  background-color: #b71c1c;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  line-height: 50px;
  letter-spacing: calc(1em * (20 / 1000));
}

input[type=checkbox] {
  line-height: 0;
  height: 25px;
}

input[type=checkbox]~span {
  line-height: 1.618;
}

select[multiple] {
  min-height: 200px;
  max-height: 215px;
  overflow: auto;
}

a.cta.btn {
  max-width: 300px;
  width: 100%;
}

@media only screen and (max-width:1760px) {
  .custom-container {
    max-width: 95%;
  }
}

@media only screen and (max-width:1440px) {
  .custom-container {
    max-width: 92.5%;
  }
}

@media only screen and (max-width:1200px) {
  .custom-container {
    max-width: 87.5%;
  }

  @media only screen and (max-width:1024px) {
    .custom-container {
      max-width: 960px;
    }
  }

  @media only screen and (max-width:992px) {

    header nav,
    nav {
      display: block !important;
    }

    section#myUL {
      max-width: 100%;
    }

    .custom-container {
      max-width: 100%;
    }

    .vault-google-fonts-grid {
      display: block;
      max-width: 100%;
    }

    .google_fonts.card {
      max-width: 100%;
      max-height: unset;
      min-height: unset;
      padding-left: 0;
      padding-right: 0;
    }

    .filters-container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    .fonts-container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    select[multiple] {
      min-height: unset;
      max-height: unset;
    }

    .center-in-modal {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 90vmax;
      max-width: 90%;
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
      margin: auto;
      padding-top: 50px;
    }

    .card-title.d-flex {
      min-height: 120px;
      max-height: 125px;
    }
  }

  .versioned {
    max-width: 30px;
    max-height: 30px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 50%;
    line-height: 30px;
  }

  .font-version sup {
    font-family: fantasy;
    font-size: 11px;
    font-weight: 300;
    text-decoration: underline;
    vertical-align: initial;
  }

  .font-subsets abbr {
    line-height: 1;
  }

  .card-text>*,
  .google-fonts.card .card-body .card-text * {
    font-family: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
  }

  #filter-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.8);
    padding: 0 50px;
    overflow: hidden;
    z-index: 909000;
  }

  #filter-modal>* {
    overflow: auto !important;
    z-index: 909010;
  }
