/**
 *
 * Go 2 Mauritius Styling (Repsonsive/Adaptive)
 *
 */

@import url('../fonts/century_gothic/stylesheet.css') all;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --theme-color: #02131f;
  --more-btn-color: #082437;
  --text-primary-color: var(--color-white);
  --text-secondary-color: #252525;
  --font-family-centurygothic: 'Century Gothic', sans-serif;
  --font-didactgothic: 'Didact Gothic', sans-serif;
  --font-muli: 'Muli', sans-serif;
}

html {
  font-size: 16px;
  max-width: 100%;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  /* font-family: 'Didact Gothic', sans-serif; */
  font-family: var(--font-family-centurygothic);
  font-style: normal;
  font-weight: 400;
}

main {
  padding-bottom: 2px;
}

.font-century-gothic {
  font-family: var(--font-family-centurygothic);
  font-style: normal;
  font-weight: 400;
}

figure,
.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.font-century-gothic-bold {
  font-weight: 700;
}

/*
.font-didact-gothic {
  font-family: var(--font-didactgothic);
  font-style: normal;
}
*/

.font-muli {
  font-family: var(--font-muli);
  font-style: normal;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.border-0 {
  border: 0 !important;
}

.right-0 {
  margin-right: 0 !important;
}

.left-0 {
  margin-left: 0 !important;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-container {
  max-width: 1370px;
}

.home-resorts,
footer:not(.article-footer) {
  background-color: rgba(2, 19, 31, 1);
}

.home-intro .about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.home-intro .about .title {
  margin-bottom: 45px;
}

.home-resorts {
  padding-top: 70px;
  padding-bottom: 70px;
}

.home-resorts h2.title {
  margin-bottom: 70px;
}

.ellipsis {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class*=home] .title,
[class*=home] .description * {
  text-align: center !important;
}

button:active,
button:focus,
button:hover,
a:active,
a:focus,
a:hover {
  outline: none;
  border: none;
  box-shadow: none;
}

.fade {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.309s;
  animation-duration: 0.309s;
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

#google-recaptcha {
  transform: scale(0.925);
  transform-origin: center;
  -webkit-transform: scale(0.925);
  -webkit-transform-origin: center;
}

#google-recaptcha>* {
  margin: auto !important;
}

@media only screen and (max-width: 1440px) {
  .custom-container {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1280px) {
  .custom-container {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 1200px) {
  .custom-container {
    max-width: 1140px;
  }

  header:not(.article-header) nav ul li>a,
  .nav-item a.nav-link,
  .nav-link {
    font-size: 15px;
  }

  .nav-item {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(16px - (3px * ((100vw - 1920px) / (1920px - 320px))));
  }

  #navbarNavResponsive {
    transition: all 0.618s ease;
  }

  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }

  /*
  .banner picture,
  .banner picture img.img-fluid {
    max-height: 500px;
    height: 500px !important;
  }
*/

}

@media only screen and (max-width: 992px) {
  .custom-container {
    max-width: 960px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }

  /*
  .row[class*=star-rating] {
    padding-top: 2rem;
  }
*/

  #google-recaptcha {
    transform: scale(1);
    transform-origin: center;
    -webkit-transform: scale(1);
    -webkit-transform-origin: center;
  }

  #google-recaptcha>* {
    margin: auto !important;
  }

  textarea#message {
    line-height: 1.5;
  }


}

@media only screen and (max-width: 991px) and (orientation: landscape) {}

@media only screen and (max-width: 767px) {
  .custom-container {
    max-width: 720px;
  }

  .booking-singlepage .custom-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: auto !important;
  }

  /*
  .home-intro .custom-container.about {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
*/

}

@media only screen and (max-width: 767px) and (orientation: landscape) {}

@media only screen and (max-width: 575px) {
  .custom-container {
    max-width: 100%;
  }

  p {
    font-size: 12px;
    line-height: 18px;
  }

  a[class*=btn],
  a[class*=cta] {
    font-size: 15px;
    font-weight: 700;
    padding: 6px 0.75rem 0;
  }

}

@media only screen and (max-width: 575px) and (orientation: landscape) {}
